.navbar-dark {
    background-color: gray;
} 
.navbar {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
}
.nav {
    font-size: 20px;
    font-weight: 300;
}
.title {   
    font-variant: normal;
    font-weight: 300;
    font-size: 30px;
    color: white;
}


.dropdown-menu {
    background: gray !important;
    border: none !important;
    font-size: 18px !important;
    font-weight: 200;
    color: rgb(255,255,255,.55) !important;
}

.dropdown-item {
    text-decoration: none !important;
    color: rgb(255,255,255,.55) !important;
    background: gray !important;
}
.dropdown-item:hover, .dropdown-item:active  {
    color: #fff !important;

}

.fa-sign-out {
    transform: rotate(180deg);
}